body, html{
  font-family: sans-serif; 
  padding: 0;
  margin: 0;
}

#loading_screen{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
  background-color: #aaa;
  color: white;
}

#petition_input{
  background-color: #aaa;
  padding: 1.5em;
}

#petition_url{
  font-size: 1.5em;
  min-width: 23em;
}

#fetch_petition{
  font-size: 1.5em;
}

#petition_outputs{
  display: flex;
}

#petition_outputs > div{
  flex-grow: 1; 
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

#constituencies_table{
  margin:1em;
}


#constituencies_table td,
#constituencies_table th{
  padding: 0.3em;
  text-align: right;
}

#constituencies_table tbody tr:nth-child(2n){
 background-color: #eee; 
}

#map{
  width:600px;
  height:600px;
  background-color: #ccc;
  margin: 1em;
}

#map path{
  stroke-width: 2;
}